In [29]:
pip install pandas

Requirement already satisfied: pandas in c:\users\casper\appdata\local\programs\python\python310\lib\site-packages (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\casper\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\casper\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\casper\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\casper\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\casper\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
import pandas as pd

I want to store passenger data of Titanic. For a number of passengers, I know the name(characters), age(integers), and sex(male/female) data.

In [31]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnel, Miss. Elizabeth",
        ],
        "Age": [22,35,58],
        "Sex": ["male", "male", "female"],
    }
)

In [32]:
(df)

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2   Bonnel, Miss. Elizabeth   58  female

To manually store data in table, create a DataFrame. When using a Python dictionary of lists, 
the dictionary keys will be used as column headers and the values in each list as columns of the DataFrame. 

A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns. 
It is similar to a spreadsheet, a SQL table or the data.frame in R.

# Each column in a DataFrame is a Series

In [33]:
# I'm just interested in working with the data in the column Age 
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

When selecting a single column of a pandas DataFrame, the result is a pandas Series. To select the column, use the column label in between square brackets [].

In [34]:
# We can create a Series from scratch as well:
ages = pd.Series([22,35,58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

# Do something with a DataFrame or Series

I want to know the maximum Age of the passengers

In [36]:
#We can do this on the DataFrame by selecting the Age column and applying max():
df["Age"].max()

58

In [37]:
# Or the Series
ages.max()

58

In [38]:
# I'm interested in some basic statistics of the numerical data of my data table 
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

The decribe() method provides a quick overwiew of the numerical data in a DataFrame. As the Name and Sex columns are textual data, these are by default not taken into account by the describe() method.

REMEMBER: 
* Import the package, aka import pandas as pd 
* A table of data is stored as a pandas DataFrame
* Each column in a DataFrame is a Series 
* You can do things by applying a method to a DataFrame or Series