In [1]:
import pandas as pd

C:\Users\Casper\AppData\Local\Temp\ipykernel_11016\217833862.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
titanic = pd.read_csv(r"C:\Users\Casper\Desktop\pandada\titanic.csv")

# How do I select a subset of a DataFrame?

In [5]:
ages = titanic["Age"]
# To select a single column, use square brackets [] with the column name of the column of interest. 
ages.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

Each column in a DataFrame is a Series. As a single column is selected, the returned object is a pandas Series.

In [6]:
type(titanic["Age"])

pandas.core.series.Series

In [7]:
titanic["Age"].shape

(891,)

DataFrame.shape is an attribute of a pandas Series and DataFrame containing the number of rows and columns. A pandas Series is 1-dimensional and only the number of rows is returned.

In [8]:
# I am the interested in the age and sex of the Titanic passengers. 
age_sex = titanic[["Age", "Sex"]]
age_sex.head()

    Age     Sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

In [9]:
type(titanic[["Age", "Sex"]])

pandas.core.frame.DataFrame

In [10]:
titanic[["Age","Sex"]].shape

(891, 2)

In [ ]:
d